* {
    margin:0;
    padding:0;
}
h5 {font-size:unset;}

summary {
    font-family: 'Montserrat', sans-serif;
    font-size:2em;
}
main h1 {
    font-size:3em;
    text-align:center;
    margin:0.5em auto;
}
main {
    width:95vw;
    max-width:1080px;
    background-color:white;
    margin: 0 auto 2em;
}
section.events {
    width:95%;
    margin:1em auto 0;
}
summary:hover, summary:focus {
    cursor:pointer;
    color:cornflowerblue;
    text-shadow:1px 1px 12px;
}
article.event {
    display:block;
}
article.event h3 {text-align:left;}





/* CALENDAR STYLE */

section#calendar {display:block; margin-top:30px;}
ul {list-style-type: none;}
body {font-family: 'Montserrat', sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #3b3b3b;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}
/* Previous month bleed */
.previous-month {
    color:#666;
}
/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #3b3b3b;
    color: white !important
}

/* QR Code Style */
figure#qrCode {
    display:block;
    position:relative;
    margin:80px auto 0 auto;
    max-width:400px;
    width:100%;
}
#qrCode img {
    margin:0 50px 20px 50px;
}