* {
    margin:0;
    padding:0;
}
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    margin:0;
    padding:0;
}
h1, h2, h3, h4, p, a {font-family: 'Montserrat', sans-serif;}

/* h1, h2, h3, h4, p, a {font-family:'Times New Roman', Times, serif; font-weight:bold;} */
@font-face {
    font-family: Tangerine-Regular;
    src:url(/fonts/Tangerine-Regular.ttf)
}
h5 {
    font-family: Tangerine-Regular;
    font-size:600%;
    
}
a {font-weight:500;}

/* Navigation menu */
header {
    background-color:white;
    box-shadow: 0px 0px 10px gray;
    position:fixed;
    padding:0.5em 0em;
    top:0;
    left:0;
    width:100vw;
    height:84px;
}
.nav-container {
    width:100%;
    max-width:1520px;
    margin:auto;
    min-height:50px;
}

#logo {
    display:flex;
    flex-direction:row;
    float:left;
    color:black;
    padding:0;
    max-width:400px;
    margin:0;
    height:63.5px;
    align-items:center;
    
}
#logo img {
    background-color:gray;
    margin-left:1em;
    border-radius: 50%;
}
#logo h3 {
    margin-left:1em;
    font-weight:400;
}
#logo h3 a {
    text-decoration: none;
    color:black;
}


nav ul {
    list-style: none;
}
ul.navigation {
    display:flex;
    justify-content:flex-end;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:1em;
    margin:0.5rem 0;
}
.navitem {
    margin:auto 1em auto 1em;
}
.navitem a {
    text-decoration: none;
    color:black;
}
#nav_menu ul li:hover > a, .navitem li:focus > a {
    color:cornflowerblue;
    text-shadow:1px 1px 12px;
    cursor: pointer;
}
.navitem a.active {
    text-decoration:underline;
}
#nav_menu ul li ul {
    display:none;
    position:absolute;
    top:auto;
    width:20%;
}
#nav_menu ul li:hover > ul, #nav_menu ul li:focus > ul {
    display:block;
    background-color: whitesmoke;
    box-shadow:1px 1px 12px gray;
    padding:0.5em;
    max-width:10em;
    z-index: 99;
}
#nav_menu > ul::after {
    content: "";
    display:block;
    clear:both;
}
#nav_menu ul ul li {
    margin:0.5em;
}

/* mobile menu */
#mobile_menu {
    display:none;
    float:right;
    position:absolute;
    right:0;
    top:0.5em;
}
/* Shopping cart */

.toggle-cart {
  position: relative;
  height:100%;
  background: transparent;
  border-color: transparent;
  font-size: 1.6rem;
  color: black;
  cursor: pointer;
}
.cart-btn {
    position: relative;
    cursor: pointer;
  }

  /* 
  =======================
  Aside Table Style 
  ====================
  */
  .cart-items {
    padding: 0 5px;
    border-radius: 30%;
    width:100%;
  }
  .cart-items table {
    border-spacing: 2em;
    width:100%;
  }
  .cart-items table h3 {
    font-weight: 100;
    font-size:120%;
  }
  .cart-items table th {font-family:'Montserrat', sans-serif}
  .cart-items table tbody td[headers="hdr_item"] {
    min-width:200px;
  }
  .cart-items table tbody img {
    float:left;
    margin-right:10px;
  }
  td[headers="hdr_item"] .itemtitle {
    margin-left:50px;
  }
  td[headers="hdr_item"] .itemsubtitle {
    margin-left:50px;
  }
  .cart-items table tbody input {
    max-width:50px;
  }
  
  .cart-overlay {
    display:none;
    position: fixed;
     top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .show {display:block;}
  .cart {
    position: fixed;
    background-color:white;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 3rem 1rem 0 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: scroll;
    z-index:100;
  }
  .show .cart {
    transform: translateX(0);
  }
  .cart-close {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-grey-5);
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
  }
  .cart .persistcart-header {
    text-align: center;
  }
  .cart .persistcart-header h3 {
    font-weight: 500;
  }
  .cart-total {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  .aside-footer a {text-decoration: none;}
  .cart-checkout {
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding:1rem 0;
    
    font-family:'Montserrat', sans-serif;
  }
  /* cart item */
  .cart-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
  }
  .cart-item-img {
    width: 75px;
    height: 50px;
    object-fit: cover;
    border-radius: var(--radius);
  }
  .cart-item-name {
    margin-bottom: 0.15rem;
  }
  .cart-item-price {
    margin-bottom: 0;
    font-size: 0.75rem;
    color: var(--clr-grey-3);
  }
  .cart-item-remove-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-grey-5);
    letter-spacing: var(--spacing);
    cursor: pointer;
  }
  .cart-item-amount {
    margin-bottom: 0;
    text-align: center;
    color: var(--clr-grey-3);
    line-height: 1;
  }
  .cart-item-increase-btn,
  .cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 100%;
      min-width: 500px;
      max-width: 800px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 0.2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

/* Body */
body {
    width:100%;
    margin:0;
    position:relative;
    top:100px;
}

/*Main*/
main {
    width:100%;
}

/* sections */
section {display:flex;}
#homebanner {
    width:100%;
    height:100%;
    max-height:70vw;
    background-image: url(../images/AdobeStockFilmReel.jpeg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    
}
#bannertitle {
    display:block;
    margin:auto;
    padding:20% 0 20% 0;
    color:white;
    text-shadow:2px 2px 30px black;
}
/*quotes*/

#mainquotes {
    margin:3em 15% 3em 15%;
    justify-content:space-around;
}
/* articles */
article {
    display:flex;
    flex-wrap:wrap;
    box-sizing:border-box;
    max-width:75vw;
    margin: 2em auto 2em;
    justify-content:space-around;
    column-gap:1em;
}
article .mainfilmsbox {
    width:clamp(320px, 45%, 600px);
}
article h3 {
    text-align:center;
}
.mainfilmsbox {
    display:grid;
    grid-template:
    "filmtype"
    "filmbox"
    ;
}
.mainfilmsbox h3 {
    grid-area:filmtype;
}
.filmbox {
    grid-area:filmbox;
    display:flex;
    flex-direction: row;
    margin-top:1em;
    column-gap: 1em;
    background-color:gray;
    min-height:10em;
    justify-content:flex-start;
    overflow-x:scroll;
}
.filmbox-img {
    margin:1em;
    min-width:140px;
    max-width:180px;
    min-height:210px;
    max-height:270px;
    aspect-ratio: 3 / 2;
}
.filmbox-img img {
    width:100%;
    height:100%;
}

/*Hiding quotes*/
#mainquotes {display:none;}

/* Formatting awards section */
#mainAwards {
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items:center;
    max-width:90vw;
    margin:4rem auto;
}
#mainAwards a {
    width: 20%;
}
#mainAwards a img {
    max-width:100%;
}
/* social media */
#socialLinks {
    justify-content:center;
}
#socialLinks .fa {
    color:black;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
   
  .fa:hover {
      opacity: 0.7;
  }
/*footer style*/

footer {
    position:relative;
    display:block;
    background-color:white;
    clear:both;
    font-size:80%;
    text-align:center;
    border-top: 1px solid black;
    padding:1em 1em;
    bottom:0;
    z-index:-1;
}



@media only screen and (max-width: 1080px) {
    #nav_menu {
        display:none;
    }
    #mobile_menu {
        display:block;
    }
    .nav-container {
        display:flex; 
        height:100%; 
        justify-content: flex-start; 
        align-items: center;
    }
    
    button.toggle-cart {padding:0px 10px;}
}
@media only screen and (max-width: 880px) {
    h5 {
        font-size:400%;
    }
}
@media only screen and (max-width: 580px) {
	header {
        padding:0.2em 0.5em;
    }
    #mobile_menu {top:0; right:0.5em;}
    body {top:80px;}
}
@media only screen and (max-width:485px) {
    #logo img {display:none;}
    #logo h3 {margin-right:20%;}
    #logo {
        min-width:50px;
        align-content:center;
    }
    h5 {
        font-size:300%;
    }
}