* {
    margin:0;
    padding:0;
}
html {
    margin:0;
    padding:0;
}
h1, h2, h3, h4, p, a {font-family: 'Montserrat', sans-serif;}
@font-face {
    font-family: 'Tangerine-Regular';
    src:url('/fonts/Tangerine-Regular.ttf')
}
h5 {
    font-family: 'Tangerine-Regular';
    font-size:600%;
    text-shadow:2px 2px 20px white;
}
a {font-weight:500;}

/* Navigation menu */
header {
    background-color:white;
    box-shadow: 0px 0px 10px gray;
    position:fixed;
    padding:0.5em 0em;
    top:0;
    left:0;
    width:100vw;
    height:84px;
}
.nav-container {
    width:100%;
    max-width:1520px;
    margin:auto;
    min-height:50px;
}
#logo {
    display:flex;
    flex-direction:row;
    float:left;
    color:black;
    padding:0;
    max-width:400px;
    margin:0;
    height:50px;
    align-items:center;
    
}
#logo img {
    background-color:gray;
    margin-left:1em;
    border-radius: 50%;
}
#logo h3 {
    margin-left:1em;
    font-weight:400;
}
#logo h3 a {
    text-decoration: none;
    color:black;
}


nav ul {
    list-style: none;
}
ul.navigation {
    display:flex;
    justify-content:flex-end;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:1em;
    margin:1rem 0;
}
.navitem {
    margin:auto 1em auto 1em;
}
.navitem a {
    text-decoration: none;
    color:black;
}
#nav_menu ul li:hover > a, .navitem li:focus > a {
    color:cornflowerblue;
    text-shadow:1px 1px 12px;
}
.navitem a.active {
    text-decoration:underline;
}
#nav_menu ul li ul {
    display:none;
    position:absolute;
    top:auto;
    width:20%;
}
#nav_menu ul li:hover > ul, #nav_menu ul li:focus > ul {
    display:block;
    background-color: whitesmoke;
    box-shadow:1px 1px 12px gray;
    padding:0.5em;
    max-width:10em;
}
#nav_menu > ul::after {
    content: "";
    display:block;
    clear:both;
}
#nav_menu ul ul li {
    margin:0.5em;
}

/* mobile menu */
#mobile_menu {
    display:none;
    float:right;
    position:absolute;
    right:0;
    top:0.5em;
}

/* Body */
body {
    width:100%;
    height:1000px;
    margin:0;
    position:relative;
    top:100px;
}

/*Main*/
main {
    width:100%;
}

/* sections */
section {display:flex;}
#homebanner {
    width:100%;
    height:100%;
    max-height:70vw;
    background-color:black;
    background-image: url(../images/THE_SILHOUETTE_thumbnail.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: 50% 50%;
}
#bannertitle {
    display:block;
    margin:auto;
    padding:20% 0 20% 0;
    color:white;
}
/*quotes*/

#mainquotes {
    margin:3em 15% 3em 15%;
    justify-content:space-around;
}
/* articles */
article {
    display:flex;
    flex-wrap:wrap;
    box-sizing:border-box;
    max-width:75vw;
    margin: 2em auto 2em;
    justify-content:space-around;
    column-gap:1em;
}
article .mainfilmsbox {
    width:clamp(320px, 45%, 600px);
}
article h3 {
    text-align:center;
}
.mainfilmsbox {
    display:grid;
    grid-template:
    "filmtype"
    "filmbox"
    ;
}
.mainfilmsbox h3 {
    grid-area:filmtype;
}
.filmbox {
    grid-area:filmbox;
    display:flex;
    flex-direction: row;
    margin-top:1em;
    column-gap: 1em;
    background-color:gray;
    min-height:10em;
    justify-content:flex-start;
    overflow-x:scroll;
}
.filmbox-img {
    margin:1em;
    min-width:120px;
    max-width:180px;
}
.filmbox-img img {
    width:100%;
    height:100%;
}
/* social media */
#socialLinks {
    justify-content:center;
}
.fa {
    color:black;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
   
  .fa:hover {
      opacity: 0.7;
  }
/*footer style*/

footer {
    clear:both;
    font-size:80%;
    text-align:center;
    border-top: 1px solid black;
    padding:1em 1em;
    bottom:0;
}



@media only screen and (max-width: 1080px) {
    #nav_menu {
        display:none;
    }
    #mobile_menu {
        display:block;
    }
    .nav-container {
        display:flex; 
        height:100%; 
        justify-content: flex-start; 
        align-items: center;
    }
}
@media only screen and (max-width: 880px) {
    h5 {
        font-size:400%;
    }
}
@media only screen and (max-width: 580px) {
	header {
        padding:0.2em 0.5em;
    }
    #mobile_menu {top:0; right:0.5em;}
}
@media only screen and (max-width:485px) {
    #logo img {display:none;}
    #logo h3 {margin-right:20%;}
    #logo {
        min-width:50px;
        align-content:center;
    }
    h5 {
        font-size:300%;
    }
}